body {
  background-image: url("https://i.redd.it/n93k6oc2wab71.png");
  background-size: cover;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  backdrop-filter: blur(10px);
  animation: zoom-in 5s;
  -webkit-animation: zoom-in 5s;
  -moz-animation: zoom-in 5s;
  -ms-animation: zoom-in 5s;
}

@-webkit-keyframes zoom-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes zoom-in {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}
@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
section {
  padding-top: 13vh;
  display: block;
  margin: auto;
  justify-content: center;
}

.logo {
  width: 120px;
  border-radius: 5%;
}

a.featured:hover {
  background-color: #c43232be;
  border: 2px solid #fff;
  color: #fff;
}

a:hover {
  background-color: #0cd1969c;
  color: #fff;
  border: 2px solid #fff;
}

a {
  background-color: #030c098d;
  display: block;
  max-width: 400px;
  min-width: 200px;
  margin: 0 auto 15px;
  padding: 15px 20px;
  font-size: 0.85rem;
  color: #fff;
  border: 2px solid #ffffff6f;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a.featured {
  position: relative;
  background-color: #ff54545e;
  border: 2px solid #ffffff6f;
  color: #fff;
  font-weight: 700;
}

h2 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}

.social {
  max-width: 400px;
  margin: 0 auto;
}

.social a {
  padding: 10px 10px;
  margin-right: 10px;
  color: #fff;
  border: 2px solid #ffffff6f;
}

/* Last link margin = 0 */

.social a:last-child {
  margin-right: 0;
}

.twitter:hover {
  background-color: #5e73a1bd;
  border: 2px solid #fff;
}

.popup .overlay {
  z-index: 1;
  display: none;
}

.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: rgba(47, 47, 47, 0.925);
  min-width: auto;
  height: 50%;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.popup .content::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.popup .close-btn {
  cursor: pointer;
  position: sticky relative;
  float: right;
  top: 1px;
  margin-top: -12px;
  right: 1px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup .close-btn:hover {
  color: rgba(255, 0, 0, 0.778);
}

.popup.active .overlay {
  display: block;
  fill: blur(100px);
}

.popup.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

button {
  background-color: #030c098d;
  display: block;
  max-width: 400px;
  margin: 0 auto 15px;
  padding: 15px 20px;
  font-size: 0.85rem;
  color: #fff;
  border: 2px solid #ffffff6f;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #0cd1969c;
  color: #fff;
  border: 2px solid #fff;
}

.popup2 .overlay {
  z-index: 1;
  display: none;
}

.popup2 .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: rgba(47, 47, 47, 0.925);
  min-width: auto;
  height: 50%;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.popup2 .content::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.popup2 .close-btn {
  cursor: pointer;
  position: sticky relative;
  float: right;
  top: 1px;
  margin-top: -12px;
  right: 1px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup2 .close-btn:hover {
  color: rgba(255, 0, 0, 0.778);
}

.popup2.active .overlay {
  display: block;
  fill: blur(100px);
}

.popup2.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}
